.userInfo__input {
  display: flex;
  flex-direction: column;
  border: none;
  border-bottom: 1px solid #E6E8EB;
  margin-left: 36px;
  margin-right: 36px;
  padding: 0;
}

.userInfo__input_title {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #2F71E5;
  margin: 31px 0 9px;
}

.userInfo__input:first-of-type > .userInfo__input_title {
  margin-top: 0;
}

.userInfo__info {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding: 0;
  border: none;
  background-color: white;
  padding-bottom: 10px;
}

.userInfo__info:focus {
  outline: none;
  caret-color: #2F71E5;
  border-bottom: 1px solid black;
  line-height: 10px;
}

.userInfo__button {
  width: 358px;
  height: 64px;
  margin: 39px auto 16px;
  border-radius: 100px;
  border: none;
  background-color: #E6E8EB;
  color: #B6BCBF;
}

.userInfo__button_active {
  background-color: #2F71E5;
  color: white;
}

.userInfo__infoRegister {
  display: flex;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  justify-content: center;
  margin-bottom: 28px;
}

.userInfo__infoRegiste_text {
  margin: 0 5px 0 0;
}

.userInfo__infoRegister_link {
  color :#2F71E5;
  text-decoration: none;
}

.userInfo__inputError {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: red;
  position: absolute;
  top: 140px;
  left: 36px;
}

.userInfo__inputError_hidden {
  display: none;
}

.userInfo__inputError:nth-of-type(2) {
  top: 222px;
}

@media screen and (max-width: 528px) {
  .userInfo__button{
    width: 288px;
  }
}