.footer {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 104px;
  margin-right: 104px;
}

.footer__copyright {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  color: #B6BCBF;
  margin: 0;
}

.footer__list {
  display: flex;
}

.footer__links {
  display: flex;
  align-items: center;
  padding: 0;
}

.footer__link {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #1A1B22;
  display: block;
  text-decoration: none;
  text-align: center;
}

.footer__link_main {
  width: 112px;
}

.footer__link_yandex {
  width: 192px;
}

.footer__icons {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer__icon {
  width: 20px;
  height: 20px;
  margin-left: 27px;
}

@media screen and (max-width: 900px) {
  .footer {
    margin-left: 40px;
    margin-right: 40px;
  }
  .footer__link_main {
    width: 88px;
  }
  .footer__link_yandex {
    width: 176px;
  }
}

@media screen and (max-width: 735px) {
  .footer {
    height: 176px;
    flex-direction: column-reverse;
    margin-left: 16px;
    margin-right: 16px;
    justify-content: space-around;
  }
  .footer__list {
    justify-content: space-between;
    width: 100%;
  }
  .footer__links {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer__link {
    line-height: 48px;
    text-align: start;
  }
  .footer__copyright {
    align-self: start;
  }
}