.newsCard {
  height: 576px;
  width: 100%;
  background-color: white;
  color: #1A1B22;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  margin-top: 0;
}

.newsCard__link {
  height: 100%;
  text-decoration: none;
  display: grid;
  grid-template-rows: 272px 56px 1fr 40px;
  justify-content: center;
}

.newsCard__image {
  width: 100%;
  height: 100%;
  grid-row: 1;
}

.newsCard__keyWord {
  max-width: 88px;
  margin: 0;
  background-color: #FFFFFF;
  position: absolute;
  top: 24px;
  left: 24px;
  border-radius: 10px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: black;
  padding: 8px 15px;
  visibility: visible;
}

.newsCard__keyWord_hidden {
  display: none;
}

.newsCard__tooltip {
  margin: 0;
  background-color: #FFFFFF;
  position: absolute;
  top: 24px;
  right: 69px;
  border-radius: 10px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: black;
  padding: 13px 11px;
  visibility: hidden;
}

.newsCard__tooltip_hidden {
  display: none;
}

.newsCard__icon {
  width: 40px;
  height: 40px;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 8px;
}

.newsCard__icon:hover ~ .newsCard__tooltip {
  visibility: visible;
}

.newsCard__icon-trash {
  background-image: url(../../images/trash.svg);
}

.newsCard__icon-trash:hover {
  cursor: pointer;
  background-image: url(../../images/trash-active.svg);
}

.newsCard__icon-bookmark {
  background-image: url(../../images/bookmark.svg);
}

.newsCard__icon-bookmark:hover {
  cursor: pointer;
  background-image: url(../../images/bookmark-active.svg);
}

.newsCard__icon-savedbookmark {
  cursor: pointer;
  background-image: url(../../images/bookmark-color.svg);
}

.newsCard__date {
  grid-row: 2;
  align-self: center;
  font-family: Source Sans Pro, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #B6BCBF;
  margin: 0 24px;
}

.newsCard__txt {
  height: 100%;
  grid-row: 3;
  overflow: hidden;
  display: -webkit-box;
	-webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  word-wrap: break-word;
}

.newsCard__heading {
  font-family: Roboto Slab, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 28px;
  color: #1A1B22;
  margin: 0 24px 16px;
}

.newsCard__text {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  color:#1A1B22;
  margin: 0 24px;
}

.newsCard__source {
  max-width: 352px;
  grid-row: 4;
  align-self: center;
  font-family: Roboto Slab, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color:#B6BCBF;
  text-transform: uppercase;
  margin: 0 24px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media screen and (max-width: 768px) {
  .newsCard {
    height: 420px;
  }
  .newsCard__link {
    grid-template-rows: 150px 52px 1fr 40px;
  }
  .newsCard__image {
    height: 100%;
  }
  .newsCard__date {
    margin: 0 16px;
  }
  .newsCard__heading {
    margin: 0 16px 10px;
    font-size: 22px;
    line-height: 25px;
  }
  .newsCard__text {
    margin: 0 16px;
    line-height: 22px;
  }
  .newsCard__source {
    margin: 0 16px;
  }
}

@media screen and (max-width: 510px) {
  .newsCard {
    height: 440px;
  }
  .newsCard__link {
    grid-template-rows: 196px 50px 1fr 40px;
  }
  .newsCard__image {
    height: 100%;
  }
  .newsCard__txt {
    -webkit-line-clamp: 6;
  }
  .newsCard__text {
    line-height: 23px;
  }
}